html,body{
height: 100%;
margin: 0;
}

.box1{
    background-image: url("image1.jpg");
    min-height: 100%;
}

.box2{
    background-image: url("image2.jpg");
    min-height: 800px;
}

.box1,
.box2,
.box3{
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-div1{
    position: absolute;
    top:50%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;

}
.text {
    background: rgb(59, 59, 59);
    padding-left: 40px;
    padding-right: 40px;
}


.section{
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
   padding: 15px;
}
