@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  overflow-x: hidden;
}
.head {
  width: 100%;
  height: 80px;
  background-color: #143601;
  box-shadow: 5px 5px 5px rgba(19, 18, 18, 0.08);
  position: fixed;
  z-index: 20;
}

.box1 {
  width: 100%;
  height: 100%;
  /* background-color: aliceblue; */
  display: flex;
}
.logo {
  width: 30%;
  display: flex;
  color: white;
  padding-top: 10px;
  margin-left: 30px;
  flex: 30%;
}
.logo img {
  width: 60px;
  height: 70px;
}
.logo h1 {
  padding-left: 10px;
  padding-top: 10px;
  text-shadow: rgb(14, 13, 13);
}
.logo #slogan {
  text-align: center;
}
.menu {
  display: flex;
  flex-basis: content;
}
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  padding-right: 10px;
  margin-top: 30px;
}

.dropbtn {
  background-color: #143601;
  color: rgb(255, 255, 255);
  padding: 16px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.dropbtn:hover {
  background-color: chartreuse;
  color: rgb(0, 0, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c5c5c5;
  min-width: 140px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(188, 250, 180, 0.2);
  z-index: 1;
  transition: 0.5s;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  border-bottom: 1px solid black;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: greenyellow;
}

.dropdown:hover .dropdown-content {
  display: block;
}







.content {
  width: 100%;

  /* padding: 10px; */
  line-height: 20px;
}

.login-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  z-index: 22;
}
.login-page-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 25;
  position: absolute;
}
.login-contents {
  width: 30%;
  height: 80%;
  position: absolute;
  z-index: 30;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  background-color: rgb(235, 250, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}
.login-contents form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 40px;
}
/* Login profile */
.login-btn{
    display:none;
}
.dropbtn img{
   border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profile-div{
    margin-top:20px;
    box-sizing: border-box;
    margin-right: 10px;
}

.profile{
border-radius: 50%;
padding: 0;
height: 45px;
width: 45px;

}

.profile:hover {
    background-color: transparent;
}

.profile-content{
  left: -100px;
}




.input-group {
  width: 100%;
}
.input-group input {
  padding: 5px;
  width: 90%;
  height: 30px;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
}

#login-btn {
  height: 35px;
  width: 120px;
  color: white;
  background-color: #143601;
  border-radius: 10px;
  border: none;
}

.img-cover{
  width: 100vw;
  height: 100vh;
  background-image: url("cover-photo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.img-layer{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.find{
  transform: translateX(50%);
  transform: translateY(40%);
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

.find h1{
  margin: 15px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

.find button{
  width: 100px;
  height: 30px;
  color: white;
  font-size: 15px;
  margin: 15px;
 border: none;
 border-radius: 5px;
  background-color: #143601;
}




  
  
